$dark-green-blue: #00919D;
$medium-green-blue: #00D1DF;
$light-green-blue: #04F7F7;

$dark-blue: #002868;
$medium-blue: #1B53AD;
$blue: #5088E1;

$dark-neutral: #30455C;
$medium-neutral: #7B92AB;
$neutral: #D0DDEA;
$light-neutral: #F4F7FB;

$white: #FFFFFF;
$black: #333333;

$success: #56BD5B;
$alert: #F7B422;
$error: #E34C4C;
